<header>
    <nav>
        <a href = "/">Navigated Learning</a>
        <ul>
            <li><a href="/maps">Maps</a></li>
            <li><a href="/maps/new">New Maps</a></li>
        </ul>
    </nav>
</header>