<header>
    <nav>
        <a href = "/">Navigated Learning</a>
        <ul>
            <li><a href="/resources">All Resources</a></li>
            <li><a href="/resources/user_resource">My Resources</a></li>
            <li><a href="/resources/new">Add a Resource</a></li>
            <li><a href="/maps">All Maps</a></li>
            <li><a href="/maps/new">Add a Map</a></li>
        </ul>
    </nav>
</header>